---
import DefaultLayout from '@layouts/default.astro'
import Button from '@components/atoms/button.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
---

<DefaultLayout>
	<h1 class="text-tmd">Parlons code</h1>
	<Button text="Cliquez-moi" />
	<ul>
		{posts.map(post => (
			<li><a href={`/parlons-code/${post.id}`}>{post.data.title}</a></li>
		))}
	</ul>
</DefaultLayout>
