@use "../utils/sprite";

// Btn Icon
.a-btnIcon {
	// display: inline-flex;
	// align-items: center;
	// gap: 1rem;

	&::after {
		content: "";
		display: inline-block;
		flex-shrink: 0;
		background-repeat: no-repeat;
		height: 1rem;
		margin-left: var(--spacing-tiny);
		width: 1rem;
		@extend .icon-arrow;
	}

	&.-only {
		&::after {
			margin-left: 0;
		}
	}

	&.text-gray-300 {
		&::after {
			filter: invert(97%) sepia(2%) saturate(0%) hue-rotate(180deg)
				brightness(95%) contrast(90%);
		}
	}

	&.hover\:text-gray-300 {
		&:hover {
			@media (hover: hover) {
				&::after {
					filter: invert(97%) sepia(2%) saturate(0%) hue-rotate(180deg)
						brightness(95%) contrast(90%);
				}
			}
		}
	}

	&.text-gray-500 {
		&::after {
			filter: invert(70%) sepia(8%) saturate(0%) hue-rotate(180deg)
				brightness(90%) contrast(85%);
		}
	}

	&.hover\:text-gray-500 {
		&:hover {
			@media (hover: hover) {
				&::after {
					filter: invert(70%) sepia(8%) saturate(0%) hue-rotate(180deg)
						brightness(90%) contrast(85%);
				}
			}
		}
	}

	&.-error {
		background-color: var(--color-green-700);
		color: var(--color-gray-300);
		&::after {
			filter: invert(97%) sepia(2%) saturate(0%) hue-rotate(180deg)
				brightness(95%) contrast(90%);
		}
		&:hover {
			@media (hover: hover) {
				background-color: var(--color-green-700);
			}
		}
	}

	&.text-gray-900 {
		&::after {
			filter: invert(10%) sepia(5%) saturate(0%) hue-rotate(180deg)
				brightness(85%) contrast(80%);
		}
	}
	&.hover\:text-gray-900 {
		&:hover {
			@media (hover: hover) {
				&::after {
					filter: invert(10%) sepia(5%) saturate(0%) hue-rotate(180deg)
						brightness(85%) contrast(80%);
				}
			}
		}
	}

	&.text-green-700 {
		&::after {
			filter: invert(39%) sepia(64%) saturate(749%) hue-rotate(325deg)
				brightness(95%) contrast(90%);
			// filter: invert(40%) sepia(30%) saturate(200%) hue-rotate(80deg)
			// 	brightness(90%) contrast(85%);
		}
	}
	&.hover\:text-green-700 {
		&:hover {
			@media (hover: hover) {
				&::after {
					filter: invert(39%) sepia(64%) saturate(749%) hue-rotate(325deg)
						brightness(95%) contrast(90%);
					// filter: invert(40%) sepia(30%) saturate(200%) hue-rotate(80deg)
					// 	brightness(90%) contrast(85%);
				}
			}
		}
	}
}

.a-btnIcon.-arrow {
	&::after {
		@extend .icon-arrow;
	}

	@media (hover: hover) and (prefers-reduced-motion: no-preference) {
		&::after {
			animation: leave-link-icon 0.15s ease forwards;
		}
		&:hover {
			&::after {
				animation: enter-link-icon 0.8s ease-in-out forwards infinite;
			}
		}
	}
}

.a-btnIcon.-point {
	&::after {
		@extend .icon-point;
	}
	@media (hover: hover) and (prefers-reduced-motion: no-preference) {
		&::after {
			animation: leave-link-icon 0.15s ease forwards;
		}
		&:hover {
			&::after {
				animation: enter-link-point 2s ease-in-out forwards infinite;
			}
		}
	}
}

// Btn Secondary
.a-btnSecondary {
	&::before {
		content: "[";
		display: inline-block;
		margin-right: 0.5rem;
	}
	&::after {
		content: "]";
		display: inline-block;
		margin-left: 0.5rem;
	}

	&:hover {
		@media (hover: hover) {
			&::before {
				transform: translate(2px, 0);
			}
			&::after {
				transform: translate(-2px, 0);
			}
		}
	}

	@media (hover: hover) and (prefers-reduced-motion: no-preference) {
		&::before,
		&::after {
			transition: transform 0.15s ease-in-out;
		}
	}
}

// Btn nav
.a-btnNav {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		display: inline-block;
		background-color: currentColor;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 0.4rem;
		vertical-align: middle;
		width: 0.4rem;
	}

	&:not(.-alt) {
		padding-left: 0.9rem;
		padding-right: 0.9rem;

		span {
			display: inline-block;
			margin-left: -0.9rem;
		}

		&::before {
			top: 50%;
			left: 0;
			opacity: 0;
			pointer-events: none;
			transform: translate(-90%, -50%);
		}

		@media (hover: hover) and (prefers-reduced-motion: no-preference) {
			span {
				transition: transform 0.3s ease;
			}
			&::before {
				transition:
					opacity 0.3s ease,
					transform 0.3s ease;
			}
		}

		&:hover {
			@media (hover: hover) {
				span {
					transform: translate(0.9rem, 0);
				}
				&::before {
					opacity: 1;
					transform: translate(0, -50%);
				}
			}
		}

		&.-active,
		&[aria-current="page"] {
			color: var(--color-green-700);
			span {
				transform: translate(0.9rem, 0);
			}
			&::before {
				opacity: 1;
				transform: translate(0, -50%);
			}
		}
	}

	&.-alt {
		padding-bottom: 0.6rem;
		&::before {
			bottom: 0;
			left: 50%;
			opacity: 0;
			pointer-events: none;
			transform: translate(-50%, 30%);
		}

		@media (hover: hover) {
			&::before {
				transition:
					opacity 0.3s ease,
					transform 0.3s ease;
			}
		}

		&:hover {
			@media (hover: hover) {
				&::before {
					opacity: 1;
					transform: translate(-50%, 0);
				}
			}
		}

		&.-active,
		&[aria-current="page"] {
			color: var(--color-green-700);
			&::before {
				opacity: 1;
				transform: translate(-50%, 0);
			}
		}
	}
}

.a-btnTop {
	padding-bottom: 1.2rem;
	padding-top: 1.2rem;
	&::after {
		margin-left: 0;
		transform: rotate(-45deg);
	}
	&.-arrow {
		@media (hover: hover) and (prefers-reduced-motion: no-preference) {
			&::after {
				animation: leave-link-icon-top 0.15s ease forwards;
			}
			&:hover {
				&::after {
					animation: enter-link-icon-top 0.8s ease-in-out forwards infinite;
				}
			}
		}
	}
}

html.-experience {
	.a-btnIcon::after {
		filter: brightness(0) saturate(100%) invert(5%) sepia(92%) saturate(3578%)
			hue-rotate(212deg) brightness(124%) contrast(104%);
	}
	.a-btnIcon.text-gray-300::after {
		filter: brightness(0) saturate(100%) invert(97%) sepia(2%) saturate(0%)
			hue-rotate(180deg) brightness(95%) contrast(90%);
	}

	.a-btnIcon.hover\:text-green-700:hover::after {
		filter: brightness(0) saturate(100%) invert(80%) sepia(24%) saturate(4190%)
			hue-rotate(291deg) brightness(102%) contrast(101%);
	}

	.a-btnIcon.text-green-700::after {
		filter: brightness(0) saturate(100%) invert(80%) sepia(24%) saturate(4190%)
			hue-rotate(291deg) brightness(102%) contrast(101%);
	}
}
