.a-morse {
	&::before {
		content: "";
	}

	&.-active {
		&::before {
			animation: morse-dot 5s infinite steps(8);
		}
	}
}

@keyframes morse-dot {
	0%,
	50% {
		content: "-";
	}
	15%,
	25%,
	35%,
	65% {
		content: " ";
	}

	20%,
	30% {
		content: "·";
	}
}
