{
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
	"tailwindStylesheet": "./src/styles/tailwind.css",
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "all",
	"semi": false,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
