html {
	scrollbar-gutter: stable;
}

body {
	&:not(.-experience) {
		.o-explorer {
			display: none;
		}
	}
}

::selection {
	background: var(--color-gray-900);
	color: var(--color-gray-300);
	text-shadow: none;
}

.bg-gray-900 {
	::selection {
		background: var(--color-gray-300);
		color: var(--color-gray-900);
	}
}

*[id] {
	scroll-margin-top: 15rem;
}
