.o-backInTime {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 100%;
	pointer-events: none;
	width: 100%;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		background-color: var(--color-gray-900);
		height: 51%;
		transform: scaleY(0);
		width: 100%;
	}

	&::before {
		top: 0;
		transform-origin: center top;
	}

	&::after {
		bottom: 0;
		transform-origin: center bottom;
	}

	&.-active {
		&::before,
		&::after {
			transform: scaleY(1);
			transition: transform 0.3s cubic-bezier(0.34, 1.07, 0.52, 0.99);
		}
	}
	&.-leave {
		opacity: 0;
		transition: opacity 0.5s ease-out;
	}
}
