.o-heroCanvas {
	position: relative;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: var(--color-gray-300);
		height: 100%;
		opacity: 0;
		pointer-events: none;
		width: 100%;

		&.-active {
			opacity: 1;
			transition: opacity 1s ease-in-out;
		}
	}
}
.o-hero {
	z-index: 1;
	overflow: hidden;

	[data-hero="letter"] {
		display: inline-block;
	}

	.-space {
		display: none;
	}

	&__btn {
		bottom: min(10.6vw, 15.4rem);
		&.-active {
			display: block;
		}
	}

	[data-module-hero="heroTitle"] {
		letter-spacing: -0.115em;
	}

	@media (width >= 768px) and (prefers-reduced-motion: no-preference) {
		.o-hero__content {
			opacity: 0.01;
		}

		[data-hero="letter"] {
			opacity: 0;
			transform: translate(20px, 0) scaleX(1.1) scaleY(0.8);
			transform-origin: left bottom;
		}

		[data-hero="word"] {
			color: var(--color-gray-300);
			opacity: 0.01;
		}

		[data-module-hero="heroTitle"] {
			position: relative;
		}

		&.-animating {
			[data-hero="letter"] {
				opacity: 1;
				transform: translate(0, 0) scaleY(1);
				transition:
					opacity 0.7s cubic-bezier(0.08, 0.47, 0.16, 1) var(--delay, 0s),
					transform 0.8s cubic-bezier(0.08, 0.47, 0.16, 1) var(--delay, 0s);
			}
			.o-hero__content {
				opacity: 1;
				transition: opacity 1s cubic-bezier(0.35, -0.01, 0.4, 0.99) 1.5s;
			}
		}
	}

	@media (width >= 768px) {
		.-space {
			display: inline-block;
		}
	}
	// 	// @media (min-width: theme("screens.md")) {
	// 	&__space {
	// 		display: inline-block;
	// 	}
	// }
}
