---
import DefaultLayout from "@layouts/default.astro"
import HeroSimple from "@components/organisms/hero-simple.astro"
import Text from "@components/atoms/text.astro"
import Button from "@components/atoms/button.astro"
// import TextSection from "@components/organisms/text-section.astro"
import TextTree from "@components/organisms/text-tree.astro"
---

<DefaultLayout seoTitle="A propos de moi">
	<main id="main" data-transition="container">
		<HeroSimple title="A propos de moi" photo={true} />
		<TextTree
			variant="gray-900"
			title="Pur produit Sarthois avec des notes du sud"
			treeVariant="ahead"
			tree={[
				{
					title: "Troa",
					date: "2020 - Aujourd'hui",
					details: "Développeur Front-end / Lead",
				},
				{
					title: "Les poupées russes",
					date: "2019 - 2020",
					details: "Développeur Front-end",
				},
				{
					title: "Keley Live",
					date: "2016 - 2018",
					details: "Alternance - Développeur Front-end",
				},
				{
					title: "Groupe LDC",
					date: "2014 - 2016",
					details: "Alternance - Développeur Front-end",
				},
			]}
		>
			<Fragment slot="content">
				<Text variant="pmd" class="">
					Originaire des Pays de la Loire, j’ai construit mon bagage
					universitaire entre le Mans, Laval et Angers. Design, code,
					communication, photo, vidéo, j’ai touché à tout afin de trouver ma
					vraie spécialité. Le développement Front-end s’est très vite imposé à
					moi car il allie ma passion pour le design et la programmation.
				</Text>
				<Text variant="pmd" class="">
					C’est durant cette période que j’ai intégré LDC en tant que
					développeur front-end en alternance et que j’ai pu faire mes premières
					armes dans un grand groupe qui demande exigence et rigueur dans les
					process.
				</Text>
				<Text variant="pmd" class="">
					Après 2 ans d’expérience et ayant fait le tour de ma région natale, je
					suis parti sur Paris afin de grandir et continuer à progresser. J’y ai
					intégré Keley Live en tant que développeur front-end en alternance.
					Cette expérience m’a permis de découvrir un tout autre environnement,
					une manière de travailler plus agile et terminer ma formation orienté
					management et gestion d'entreprise.
				</Text>
				<Text variant="pmd" class="">
					Les études étant terminées, j’ai pris un congé sabbatique de 2 mois
					pour découvrir le Mexique et le Guatemala en sac à dos et m'imprégner
					de l'histoire maya. À mon retour, je suis entré chez Les Poupées
					Russes en tant que développeur front-end. Cette expérience m’a permis
					de continuer à grandir dans un environnement différent, et de faire
					grandir ma passion pour un web sobre et efficace.
				</Text>
				<Text variant="pmd">
					Le Covid ayant pointé le bout de son nez, j’ai décidé en 2020 de
					quitter la capitale. J’ai posé mes valises loin de mes origines dans
					la quiétude Montpelliéraine et intégré l’agence Troa en tant que
					développeur full-stack. J’y ai grandi, jusqu'à devenir Lead au bout de
					4 ans.
				</Text>
				<Button
					variant="secondary-gray-300"
					class="justify-self-start"
					attributes={{ target: "_blank", rel: "noopener noreferrer" }}
					href="/cv-2026.pdf"
				>
					Voir mon CV
				</Button>
			</Fragment>
		</TextTree>

		<TextTree
			variant="gray-300"
			title="Un métier passionnant qui me passionne"
			treeAttributes={{ "data-module-tree": "tree" }}
			tree={[
				{ title: "HTML 5" },
				{ title: "CSS" },
				{
					title: "Javascript",
					children: ["Vanilla JS", "Vue JS", "React JS", "Angular"],
				},
				{ title: "Typescript" },
				{
					title: "Node JS",
					children: ["Astro JS", "Eleventy JS", "Adonis JS"],
				},
				{
					title: "PHP",
					children: ["Kirby CMS", "Wordpress", "Laravel", "Prestashop"],
				},
			]}
		>
			<Fragment slot="content">
				<Text variant="pmd" class="">
					Le code a tout de suite été une révélation pour moi. L’idée de créer à
					la main des systèmes interactifs m’a tout de suite passionné. Avec une
					grande affinité pour le Front-end, je n'en oublie pas le back-end et
					ses bases de données, ses APIs et ses routes. J’aime construire des
					projets avec une architecture complète, et être polyvalent afin de
					pouvoir répondre avec la bonne technologie aux besoins du client.
				</Text>
				<Text variant="pmd">
					C’est pourquoi je n’hésite pas à me challenger en continuant à
					explorer de nouveaux outils et langages afin d’évoluer avec mon temps,
					sans oublier ce qui a fait la réussite d’hier en gardant en tête la
					performance, l’accessibilité et à rester le plus frugal possible.
					Passer du PHP, Node JS, CSS ou JS n’est pas un problème, cela me
					permet d’élargir mes capacités et mon champ d’intervention pour être
					toujours plus polyvalent.
				</Text>
				<Text variant="pmd">
					Du simple site statique avec Eleventy ou Astro, à la plateforme
					d’outils métier avec Adonis JS ou Laravel, en passant par un CMS avec
					Kirby ou Wordpress, varier les écosystèmes ne me fait pas peur du
					moment qu’il résout les problématiques liées au projet.
				</Text>
			</Fragment>
		</TextTree>
	</main>
</DefaultLayout>
