---
import DefaultLayout from "@layouts/default.astro"
import HeroSimple from "@components/organisms/hero-simple.astro"
import Text from "@components/atoms/text.astro"
import TextSection from "@components/organisms/text-section.astro"
---

<DefaultLayout>
	<main id="main">
		<HeroSimple title="A propos de moi" />
		<TextSection
			variant="gray-900"
			title1="Pur produit Sarthois avec des notes du sud"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
		</TextSection>

		<TextSection
			variant="gray-300"
			title1="Un métier passionnant qui me passionne"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
		</TextSection>
	</main>
</DefaultLayout>
