---
// Components
import SimpleLayout from "@layouts/simple.astro"
import HeroAlt from "@components/organisms/hero-alt.astro"
import Text from "@components/atoms/text.astro"
import Grid from "@components/organisms/grid.astro"
import Button from "@components/atoms/button.astro"
import InputQuest from "@components/atoms/input-quest.astro"
---

<SimpleLayout
	htmlClass="-experience"
	robots="noindex, nofollow"
	seoTitle="La quête"
	ogTitle="La quête"
	ogDescription="Un défi pour les visiteurs. Trouvez les 7 codes cachés sur le site pour découvrir la combinaison qui stoppera la boucle temporelle."
	seoDescription="Un défi pour les visiteurs. Trouvez les 7 codes cachés sur le site pour découvrir la combinaison qui stoppera la boucle temporelle."
>
	<main id="main">
		<HeroAlt title="La quête">
			<Text variant="pmd" class="">
				Te voilà ici. Une boucle temporelle de 5 minutes a été mise en place
				pour te mettre au défi. Impossible à désactiver naturellement.
			</Text>
			<Text variant="pmd" class=""
				>7 codes ont été dispersés sur le site. Les trouver te permettra de
				découvrir la combinaison qui stoppera la boucle.
			</Text>
			<Text variant="pmd" class=""
				>Parcours le site, à la recherche des codes. Certains peuvent apparaître
				à un moment précis de la boucle. Sois vigilant, regarde bien les
				détails. Sur le site, tu trouveras un terminal d'aide qui pourra te
				donner des indices.
			</Text>
			<Text variant="pmd" class=""
				>Voici quelques indices pour t’aider dans ta quête :
			</Text>
			<ul class="list-disc list-inside py-md pl-md flex flex-col gap-tiny">
				<Text Tag="li" variant="bmd" class="italic"
					>Le premier est plus faible que le deuxième.</Text
				>
				<Text Tag="li" variant="bmd" class="italic"
					>Le deuxième est le plus puissant de la suite.</Text
				>
				<Text Tag="li" variant="bmd" class="italic"
					>Le troisième est le plus faible de la suite.</Text
				>
				<Text Tag="li" variant="bmd" class="italic"
					>Le quatrième est le deuxième plus grand de la suite.</Text
				>
				<Text Tag="li" variant="bmd" class="italic"
					>Le cinquième signal vaut 5.</Text
				>
				<Text Tag="li" variant="bmd" class="italic"
					>Le quatrième domine le cinquième, qui domine le sixième.</Text
				>
				<Text Tag="li" variant="bmd" class="italic"
					>Le sixième est le plus petit des trois derniers.</Text
				>
				<Text Tag="li" variant="bmd" class="italic">Le septième est pair.</Text>
			</ul>
			<Text variant="pmd" class="">
				N'oublie pas que tu es sur le portfolio d'un développeur 😎. Bonne
				chance, tu en auras besoin!</Text
			>
		</HeroAlt>
		<Grid class="mb-giant">
			<form
				action="#"
				method="POST"
				class="col-span-full lg:col-start-4 lg:col-end-15 flex flex-col gap-y-sm js-form"
			>
				<div class="flex items-center">
					<InputQuest name="i1" label="lettre 1" id="i1" />
					<InputQuest name="i2" label="lettre 2" id="i2" />
					<InputQuest name="i3" label="lettre 3" id="i3" />
					<InputQuest name="i4" label="lettre 4" id="i4" />
					<InputQuest name="i5" label="lettre 5" id="i5" />
					<InputQuest name="i6" label="lettre 6" id="i6" />
					<InputQuest name="i7" label="lettre 7" id="i7" />
				</div>
				<Button
					class="mt-md self-start js-submitQuest"
					icon="arrow"
					attributes={{}}
					variant="primary-gray-300"
				>
					Tester le code
				</Button>
			</form>
		</Grid>
	</main>
</SimpleLayout>

<script>
	const CODE_HASH =
		"d2f29c4528181c2aef2e24f21023a746349a49f624e7885680e6b6d553333681"

	// Séquence de touches encodée en base64
	const COMBO_ENCODED: string[] = [
		"SEFVVA==", // HAUT (ArrowUp)
		"QkFT", // BAS (ArrowDown)
		"cg==", // r
		"Yg==", // b
		"R0FVR0hF", // GAUCHE
		"RFJPSVRF", // DROITE
		"KA==", // (
		"KA==", // (
		"RW50cmVy", // Entrer
	]

	// HAUT, BAS, r, b, GAUCHE, DROITE, (, (, Entrer

	function decodeCombo(arr: string[]): string[] {
		return arr.map((str: string) => atob(str))
	}

	async function hashCode(input: string): Promise<string> {
		const data = new TextEncoder().encode(input)
		const buffer = await crypto.subtle.digest("SHA-256", data)
		return Array.from(new Uint8Array(buffer))
			.map((b) => b.toString(16).padStart(2, "0"))
			.join("")
	}

	const form = document.querySelector(".js-form") as HTMLFormElement
	const buttonSubmit = form.querySelector(
		".js-submitQuest",
	) as HTMLButtonElement
	let timeout: ReturnType<typeof setTimeout> | undefined

	form.addEventListener("submit", async (e) => {
		e.preventDefault()
		if (timeout !== undefined) clearTimeout(timeout)
		const formData = new FormData(form)
		const code = Array.from(formData.values()).join("").toUpperCase()
		const hash = await hashCode(code)
		if (hash === CODE_HASH) {
			const content = document.createElement("div")
			content.classList.add(
				"bg-gray-300",
				"text-gray-900",
				"rounded-md",
				"p-md",
				"col-span-full",
				"lg:col-start-4",
				"lg:col-end-19",
				"mt-md",
			)
			content.innerHTML = `
				<p class="text-tag tracking-md mb-sm">Code déverrouillé.<br />Pour désactiver la boucle temporelle réalisez
				l’enchainement suivant :</p>
				<div class="flex flex-row flex-wrap gap-xsm">
					${decodeCombo(COMBO_ENCODED)
						.map(
							(key: string) =>
								`<span class=\"bg-gray-900 text-gray-300 rounded-sm text-btn tracking-sm py-[0.4rem] px-[0.8rem]\">${key}</span>`,
						)
						.join("")}
				</div>
			`
			buttonSubmit.replaceWith(content)
			// form.classList.add("hidden")
			// combo.classList.remove("hidden")
		} else {
			buttonSubmit.innerText = "Code incorrect, essayez encore."
			buttonSubmit.classList.add("-error")
			timeout = setTimeout(() => {
				buttonSubmit.classList.remove("-error")
				buttonSubmit.innerText = "Tester le code"
			}, 2000)
		}
	})
</script>
