---
// Content
import contact from "@content/contact"
// Components
import DefaultLayout from "@layouts/default.astro"
import Hero from "@components/organisms/hero.astro"
import Text from "@components/atoms/text.astro"
import TextTree from "@components/organisms/text-tree.astro"
---

<DefaultLayout>
	<main id="main">
		<Hero
			title="Romain Breton"
			suptitle="Développeur Front-end / Full-stack"
			description="orienté éco-conception, accessibilité et performances"
			link={{
				url: `mailto:${contact.email}`,
				label: "Discutons ensemble",
			}}
		/>

		<TextTree
			variant="gray-900"
			title="Pour la beauté du code et l'immersion"
			tree={[
				{ title: "Kirby CMS" },
				{ title: "Wordpress" },
				{ title: "Adonis JS" },
				{ title: "Eleventy JS" },
				{ title: "Astro" },
				{ title: "Vue JS" },
				{ title: "React JS" },
				{ title: "Node JS" },
			]}
			link={{
				label: "En savoir plus sur ma méthodologie",
				url: "/a-propos",
				external: false,
			}}
		>
			<Fragment slot="content">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
		</TextTree>
	</main>
</DefaultLayout>
