---
// Content
import { getCollection } from "astro:content"
import contact from "@content/contact"
// Components
import DefaultLayout from "@layouts/default.astro"
import Hero from "@components/organisms/hero.astro"
import Text from "@components/atoms/text.astro"
// import Popin from "@components/molecules/popin.astro"
import TextTree from "@components/organisms/text-tree.astro"
import Projects from "@components/organisms/projects.astro"

const projects = await getCollection("projects")
---

<DefaultLayout>
	<main id="main" data-transition="container">
		<Hero
			title="Romain Breton"
			suptitle="Développeur Front-end / Full-stack"
			description="orienté éco-conception, accessibilité et performances"
			link={{
				url: `mailto:${contact.email}`,
				label: "Discutons ensemble",
			}}
		/>

		<TextTree
			variant="gray-900"
			title="Pour la beauté du code et l'immersion"
			tree={[{ title: "Kirby CMS" }, { title: "Adonis JS" }, { title: "Eleventy JS" }, { title: "Astro" }, { title: "Vue JS" }, { title: "React JS" }, { title: "Node JS" }, { title: "Wordpress" }]}
			link={{
				name: "En savoir plus sur ma méthodologie",
				url: "/methodo",
				external: false,
			}}
		>
			<Fragment slot="content">
				<Text variant="pmd" class="">
					Originaire de la Sarthe et expatrié à Montpellier, je crée des sites et des applications web depuis plus de 10 ans. Passionné par le code, j'ai cette capacité à construire des architectures
					complètes, afin de répondre avec la bonne technologie aux besoins du client. Que ce soit du Back-End avec NodeJS ou PHP, ou du Front-end avec du JavaScript et CSS, j'aime varier les
					écosystèmes pour élargir mes capacités et mon champ d’intervention pour être toujours plus polyvalent.
				</Text>
				<Text variant="pmd">
					Au fil des années, j'ai développé une sensibilité particulière pour l'éco-conception, l'accessibilité et les performances. Je suis convaincu que le web doit être pensé de manière
					responsable, en minimisant son impact environnemental tout en offrant une expérience utilisateur optimale au plus grand nombre. Ce n'est pas pour autant que je mets de côté les nouvelles
					technologies si elles sont suffisamment matures et apportent une plus value au projet. Je n'en oublie pas pour autant l'aspect esthétique et immersif d'un site, qui sont des éléments clés
					pour offrir une expérience mémorable.
				</Text>
			</Fragment>
		</TextTree>
		<Projects title="Mes meilleures<br/>partitions" projects={projects} />
	</main>
</DefaultLayout>
