---
import DefaultLayout from "@layouts/default.astro"
import HeroSimple from "@components/organisms/hero-simple.astro"
import Text from "@components/atoms/text.astro"
import TextSection from "@components/organisms/text-section.astro"
---

<DefaultLayout seoTitle="Ma méthodologie">
	<main id="main" data-transition="container">
		<HeroSimple title="Ma méthodo" />
		<TextSection
			variant="gray-900"
			title1="Pour la beauté du code"
			title2="Aussi rapide<br />qu’Usain Bolt"
			secret="X"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
			<Fragment slot="content2">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
		</TextSection>

		<TextSection
			variant="gray-300"
			title1="Un site qui ne brûle pas l’environnement"
			title2="Un web pour tous sans exception"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
			<Fragment slot="content2">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
		</TextSection>
	</main>
</DefaultLayout>
