---
import DefaultLayout from "@layouts/default.astro"
import HeroSimple from "@components/organisms/hero-simple.astro"
import Text from "@components/atoms/text.astro"
import TextSection from "@components/organisms/text-section.astro"
---

<DefaultLayout seoTitle="Ma méthodologie">
	<main id="main" data-transition="container">
		<HeroSimple title="Ma méthodo" />
		<TextSection
			variant="gray-900"
			title1="Pour la beauté du code"
			title2="Un site qui ne brûle pas l’environnement"
			secret="0"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Écrire du code c’est bien, et ça devient de plus en plus facile à
					l’ère de l’IA, qu’il puisse traverser les années c’est mieux. Un code
					propre et structuré, c’est faciliter la maintenance et la transmission
					d’un projet. Grâce à des outils comme Eslint, Stylelint et Prettier,
					je peux maintenir une cohérence à travers les lignes via un ensemble
					de règles pour vérifier, ordonner et uniformiser ce que j’écris.
				</Text>
				<Text variant="pmd">
					Côté Front, je suis adepte de l’Atomic Design. Cette architecture
					permet de séparer le site en composants réutilisables qui seront
					réutilisés et assemblés ensemble, et ainsi faciliter le développement,
					la maintenance, et les mises à jour futures.
				</Text>
				<Text variant="pmd">
					Pour ce qui est des gros projets NodeJs, Typescript est un
					indispensable. L’outil permet de faciliter la compréhension du code et
					de valider le code pour prévenir d’éventuelles erreurs de typage ou de
					structures de données.
				</Text>
			</Fragment>
			<Fragment slot="content2">
				<Text variant="pmd" class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a
					nulla in lectus ultricies suscipit. Curabitur tincidunt, enim tempor
					feugiat fringilla, massa diam mattis nulla, a pulvinar purus justo sed
					sapien. Vivamus imperdiet lorem ac sem ultricies, quis aliquam odio
					placerat. Nulla faucibus vel arcu in sodales.
				</Text>
				<Text variant="pmd">
					Curabitur sagittis laoreet ligula. Aliquam ac vestibulum augue. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
					enim id odio tempus, vel interdum odio pellentesque. Nam eget placerat
					libero, vitae posuere dui. Suspendisse lectus dolor, pretium eu
					tristique eget, tempus quis nisl. Aenean massa nibh, bibendum quis
					urna et, suscipit ultricies elit.
				</Text>
			</Fragment>
		</TextSection>

		<TextSection
			variant="gray-300"
			title1="Aussi rapide<br />qu’Usain Bolt"
			title2="Un web pour tous sans exception"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Avoir des sites qui soient esthétiques est bien codés c’est important,
					mais le nerf de la guerre reste la vitesse. De mauvaises performances
					peuvent être pénalisantes pour Google et ainsi réduire la visibilité
					sur son moteur de recherche. Mais ce n’est pas qu’une histoire de
					référencement. Nous ne sommes pas tous égaux face au numérique. Il y a
					une grande disparité dans la puissance des terminaux. Certains sites
					vont logiquement mieux tourner sur des appareils plus récents. Et
					j’estime qu’on ne peut pas proposer une mauvaise expérience ou même
					bloquer l’accès à une partie du public car il n’a pas le dernier
					smartphone. Comme l’accessibilité, l’analyse du public cible permet de
					voir s’il y a un effort particulier à faire en termes de performance
					et de compatibilité.
				</Text>
				<Text variant="pmd">
					C’est pour toutes ces raisons que je fais très attention aux outils
					que j’utilise lors de mes développements afin réduire non seulement le
					nombre de dépendance à des outils tiers qui pourraient ne plus être
					maintenus et minimiser le poids de mes sites. C’est aussi une raison
					pour laquelle je n’utilise pas systématiquement du Vue ou React ou
					Angular. J’essaie d’apporter la meilleure réponse technologique en
					fonction du projet sans pour autant compromettre l'accessibilité au
					plus grand nombre.
				</Text>
			</Fragment>
			<Fragment slot="content2">
				<Text variant="pmd" class="">
					L’inclusion est une valeur fondamentale pour moi. Je prône un web plus
					frugal, qui permette à chacun d’utiliser cet outil. L’accès à internet
					devrait être un droit universel au même titre que la liberté
					d’expression. Le web a été créé dans le but de partager ensemble à
					travers le monde. J’essaie donc dans mes projets de faciliter leurs
					accès au plus grand nombre en mettant un accent sur l’accessibilité.
					Personne ne devrait se sentir exclu en visitant un site web car il ne
					peut pas l’utiliser. Sémantique, texte, compréhension, visuel,
					interactions. Tout est fait au mieux pour que ces sites répondent au
					mieux aux plus de situations de handicap possible dans le contexte du
					public cible.
				</Text>
				<Text variant="pmd">
					L'accessibilité ne se limite pas qu’aux personnes en situation de
					handicap, cela fait partie d’un plus grand ensemble, l'inclusivité. Ça
					inclut aussi les personnes avec une connexion plus faible ou un
					appareil plus ancien. Avoir le dernier smartphone n’est pas donné à
					tout le monde. C’est pourquoi l’éco-conception que je pousse dans mes
					projets est importante car elle permet de faciliter l’accès au web
					avec des sites plus rapides à charger et demandant moins de ressources
					car plus légers. Cela permet à mon niveau de ne pas participer à
					l’obsolescence programmée de nos terminaux, et ne pas participer à la
					course à la puissance pour à la base transmettre juste de
					l’information.
				</Text>
			</Fragment>
		</TextSection>
	</main>
</DefaultLayout>
