---
import DefaultLayout from "@layouts/default.astro"
import HeroSimple from "@components/organisms/hero-simple.astro"
import Text from "@components/atoms/text.astro"
import TextSection from "@components/organisms/text-section.astro"
---

<DefaultLayout seoTitle="Ma méthodologie">
	<main id="main" data-transition="container">
		<HeroSimple title="Ma méthodo" />
		<TextSection
			variant="gray-900"
			title1="Pour la beauté du code"
			title2="Un site qui ne brûle pas l’environnement"
			secret="0"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Écrire du code c’est bien, mais à l'ère de l'IA, qu’il puisse traverser les années, c’est mieux. Un code
					propre et structuré, c’est faciliter la maintenance et la transmission
					d’un projet. Grâce à des outils comme Eslint, Stylelint et Prettier,
					je peux maintenir une cohérence dans le code via un ensemble de règles
					pour vérifier, ordonner et uniformiser ce que j’écris.
				</Text>
				<Text variant="tmd" Tag="h3" class="pt-sm md:pt-xlg"
					>Structurer le Front-end</Text
				>
				<Text variant="pmd">
					Côté Front, je suis adepte de <a
						href="https://usabilis.com/atomic-design/"
						target="_blank"
						class="underline hover:text-green-700"
					>
						l’Atomic Design
					</a>. Cette architecture permet de séparer le site en composants
					réutilisables, assemblés ensemble pour faciliter le développement, la
					maintenance et les mises à jour futures.
				</Text>
				<Text variant="pmd">
					Pour ce qui est des gros projets NodeJS, TypeScript est un
					indispensable. Cet outil facilite la compréhension et la validation du
					code pour prévenir d’éventuelles erreurs de typage ou de structures de
					données. Il en est de même pour Vitest afin de réaliser des tests
					unitaires et valider le bon comportement de mes composants.
				</Text>
				<Text variant="tmd" Tag="h3" class="pt-sm md:pt-xlg"
					>Back-end et déploiement</Text
				>
				<Text variant="pmd">
					Côté déploiement, je privilégie des outils comme GitHub Actions afin
					d’automatiser les processus de build et de déploiement, ce qui permet
					de gagner du temps et d’éviter les erreurs humaines. Avec le PHP,
					j'utilise l'architecture de <a
						href="https://www.bocasay.com/fr/php-architectures-microservices/"
						target="_blank"
						class="underline hover:text-green-700"
					>
						microservices
					</a> lorsque j'ai besoin de développer des fonctionnalités supplémentaires
					sur Kirby ou WordPress.
				</Text>
			</Fragment>
			<Fragment slot="content2">
				<Text variant="pmd" class="">
					Avec une urgence climatique toujours plus pressante, chaque personne
					doit faire sa part dans la transition de notre mode de vie. Les
					industries ne dérogent pas à la règle. En 2024, le numérique
					représentais environ 4,4% des émissions mondiales de gaz à effet de
					serre (source <a
						href="https://ecoresponsable.numerique.gouv.fr/actualites/actualisation-ademe-impact/"
						target="_blank"
						class="underline hover:text-green-700"
					>
						ADEME
					</a>). Ce chiffre est en constante augmentation. En tant que
					développeur, je suis conscient que mon travail a un impact direct sur
					le réchauffement climatique et les bouleversements de la biodiversité.
				</Text>
				<Text variant="pmd">
					Le poids moyen d’un site web est passé de 500ko en moyenne en 2010, à
					2,5Mo de moyenne aujourd’hui (source <a
						href="https://www.captaindns.com/fr/blog/median-web-page-weight-2025"
						target="_blank"
						class="underline hover:text-green-700"
					>
						HTTP Archive
					</a>). Entre l'augmentation du nombre de médias, l'ajout de toujours
					plus de JavaScript et de scripts tiers (A/B testing, widgets,
					analytique) ont grandement participé à cette inflation. Tous ces choix
					entraînent un besoin croissant de stockage pour héberger les sites, de
					bande passante pour faire transiter l’information et d'équipements
					toujours plus sophistiqués pour pouvoir les afficher. Ces
					renouvellements et ces augmentations de puissances demandent un grand
					besoin d’eau, de terres rares et d’énergie.
				</Text>
				<Text variant="tmd" Tag="h3" class="pt-sm md:pt-xlg"
					>Un régime minceur pour le web</Text
				>
				<Text variant="pmd">
					Mon rôle en tant que développeur est d’encourager une sobriété
					numérique dans la conception des sites internet que ce soit par le
					code, le design ou le contenu. Chacun a un rôle dans la réduction des
					émissions de notre domaine.
				</Text>
				<Text variant="pmd">
					Le code étant mon rayon d’action, J'ai, au fil des années, regroupé un
					ensemble de bonnes pratiques afin de réduire le poids de mes sites.
					Que ce soit la minification du code, le purge du CSS, ou encore la
					réduction de dépendances, l'optimisation des images au bon format et à
					la bonne taille. Tout est bon pour gagner quelques ko et réduire
					l’impact de mes sites. Je m’efforce aussi de ne pas utiliser
					systématiquement des frameworks, qui sont souvent très lourds, pour
					privilégier des solutions plus légères et adaptées à chaque projet.
				</Text>
			</Fragment>
		</TextSection>

		<TextSection
			variant="gray-300"
			title1="Aussi rapide<br />qu’Usain Bolt"
			title2="Un web pour tous sans exception"
		>
			<Fragment slot="content1">
				<Text variant="pmd" class="">
					Avoir des sites qui soient esthétiques et bien codés c’est important,
					mais le nerf de la guerre reste la vitesse. De mauvaises performances
					peuvent pénaliser le site et réduire la visibilité du site sur les
					moteurs de recherche. Mais ce n’est pas qu’une histoire de
					référencement. Nous ne sommes pas tous égaux face au numérique. Il
					existe une disparité dans la puissance des terminaux des utilisateurs.
					Certains sites vont logiquement mieux tourner sur des appareils plus
					récents. J’estime qu’on ne peut pas proposer une mauvaise expérience,
					ou même bloquer l’accès à une partie du public, simplement parce qu’il
					n’a pas le dernier smartphone. Comme pour l’accessibilité, l’analyse
					du public cible permet de déterminer s’il y a un effort supplémentaire
					à fournir en termes de performance et de compatibilité.
				</Text>
				<Text variant="tmd" Tag="h3" class="pt-sm md:pt-xlg"
					>Le bon outil pour le bon usage</Text
				>
				<Text variant="pmd">
					Il m'est donc important de prêter attention aux outils que j’utilise
					lors de mes développements afin de réduire non seulement le nombre de
					dépendances à des outils tiers qui pourraient ne plus être maintenus
					et complexifier la maintenance future mais aussi de minimiser le poids
					de mes sites. C’est aussi une raison pour laquelle je n’utilise pas
					systématiquement un framework comme Vue, React ou Angular. J’essaie
					d’apporter la meilleure réponse technologique en fonction du projet
					sans pour autant compromettre l’accessibilité pour le plus grand
					nombre.
				</Text>
			</Fragment>
			<Fragment slot="content2">
				<Text variant="pmd" class="">
					L’inclusion est une valeur fondamentale pour moi. Je prône un web plus
					frugal, qui permette à chacun d’utiliser cet outil. Le web a été créé
					dans le but de partager ensemble à travers le monde. J’essaie donc de
					faciliter l'accès aux sites que je développe au plus grand nombre en
					mettant l'accent sur l’accessibilité. Personne ne devrait se sentir
					exclu en visitant un site web, car il ne peut pas l’utiliser.
					Sémantique, texte, compréhension, visuel, interactions. Tout est fait
					pour que les sites répondent au mieux au plus grand nombre de
					situations de handicap possible, dans le contexte du public cible.
				</Text>
				<Text variant="tmd" Tag="h3" class="pt-sm md:pt-xlg"
					>Ne pas se limiter aux derniers équipements</Text
				>
				<Text variant="pmd">
					L'accessibilité ne se limite pas aux personnes en situation de
					handicap, cela fait partie d’un plus grand ensemble, l'inclusivité. Ça
					inclut aussi les personnes avec une connexion plus faible ou un
					appareil plus ancien. Avoir le dernier smartphone n’est pas donné à
					tout le monde. C’est pourquoi l’éco-conception que je pousse dans mes
					projets est importante car elle permet de faciliter l’accès au web
					grâce à des sites plus rapides à charger et demandant moins de
					ressources, car plus légers. Cela permet à mon niveau de ne pas
					participer à l’obsolescence programmée de nos terminaux, ainsi qu’à la
					course à la puissance.
				</Text>
			</Fragment>
		</TextSection>
	</main>
</DefaultLayout>
