%svg-common {
	background: url("/images/svg/sprite.css.svg") no-repeat;
}

.icon-arrow {
	@extend %svg-common;
	background-position: 0 0;
	background-size: 2rem;
}

.icon-arrow-dims {
	height: 10px;
	width: 10px;
}

.icon-point {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: 2rem;
}

.icon-point-dims {
	height: 10px;
	width: 10px;
}
