---
import Text from "@components/atoms/text.astro"

export const variants = {
	"primary-gray-900":
		"bg-gray-900 text-gray-300 border border-gray-900 rounded-sm px-[1.2rem] py-[0.7rem] gap-xsm hover:bg-gray-300 hover:text-gray-900 hover:border-gray-900",
	"primary-green-700":
		"bg-green-700 text-gray-300 rounded-sm px-[1.2rem] py-[0.7rem] gap-xsm hover:bg-gray-900 hover:text-gray-300",
	"primary-gray-300":
		"bg-gray-300 text-gray-900 border border-gray-300 rounded-sm px-[1.2rem] py-[0.7rem] gap-xsm hover:bg-gray-900 hover:text-gray-300 hover:border-gray-300",
	"secondary-gray-900":
		"a-btnSecondary text-gray-900 rounded-sm px-[0.2rem] py-[0.3rem] hover:bg-gray-900 hover:text-gray-300",
	"secondary-gray-300":
		"a-btnSecondary text-gray-300 rounded-sm px-[0.2rem] py-[0.3rem] hover:bg-gray-300 hover:text-gray-900",
	"link-gray-900":
		"text-gray-900 underline px-[0.2rem] py-[0.3rem] hover:text-green-700 gap-tiny",
	"link-gray-300":
		"text-gray-300 underline px-[0.2rem] py-[0.3rem] hover:text-green-700 gap-tiny",
	"nav-gray-300":
		"a-btnNav text-gray-300 px-[0.2rem] py-[0.3rem] hover:text-green-700",
	"nav-gray-900":
		"a-btnNav text-gray-900 px-[0.2rem] py-[0.3rem] hover:text-green-700",
	"nav-alt-gray-300":
		"a-btnNav -alt text-gray-300 px-[0.2rem] py-[0.3rem] hover:text-green-700",
	"nav-alt-gray-900":
		"a-btnNav -alt text-gray-900 px-[0.2rem] py-[0.3rem] hover:text-green-700",
}

export interface Props {
	icon?: string
	variant?: keyof typeof variants
	attributes?: Record<string, string>
	href?: string
	tag?: keyof HTMLElementTagNameMap
	class?: string
}

const {
	variant = "primary-gray-900",
	attributes = {},
	href,
	class: className,
} = Astro.props

let { icon, tag = "button" } = Astro.props

// Remove icon for non-primary variants
if (!variant.startsWith("primary") && !variant.startsWith("link")) {
	icon = ""
}

const list = [variants[variant], className]

// Icons a-btnIcon -arrow
if (icon) {
	list.push("flex items-center a-btnIcon -" + icon)
}

// add href attribute if needed
if (href) {
	attributes.href = href
	tag = "a"
}

if (["a", "button"].includes(tag)) {
	list.push("cursor-pointer")
}
---

<Text class:list={list} variant="bmd" Tag={tag} attributes={attributes}>
	{
		variant.startsWith("nav") && !variant.startsWith("nav-alt") ? (
			<span>
				<slot />
			</span>
		) : (
			<slot />
		)
	}
</Text>
