---
// Content
import nav from "@content/nav"
// Tools
import { formatLink } from "@utils/helpers"
// Components
import Button from "@components/atoms/button.astro"
import Text from "@components/atoms/text.astro"
import Progress from "@components/atoms/progress.astro"

export interface Props {
	explorer?: boolean
}

const { explorer = true } = Astro.props
const currentPath = Astro.url.pathname
---

<header
	class="o-header absolute top-0 left-[50%] w-full translate-x-[-50%] py-md px-sm md:px-lg max-w-[140rem] mx-auto flex items-start"
>
	{
		explorer && (
			<Text variant="bmd" class="hidden md:block md:w-[50%] md:max-w-[20rem]">
				Bonjour,
				<br />
				...
				<br />
				Attends, j'ai comme un air de déjà vu.
			</Text>
		)
	}
	<nav
		class="md:ml-auto w-full flex flex-row items-start md:items-center md:justify-end gap-xsm md:gap-sm text-right"
		aria-labelledby="header-nav-label"
	>
		<span id="header-nav-label" class="sr-only">Naviagtion principale</span>
		<a
			href="/"
			class="flex flex-row font-serif text-btn uppercase tracking-md font-700 gap-0 rounded-sm hover:text-green-700 md:relative md:top-[-0.1rem] focus:outline-2 focus:outline-green-700 focus:text-green-700 focus:outline-offset-1 -order-2"
			data-website="navLink"
		>
			R<span class="sr-only">omain</span> B<span class="sr-only">reton</span>
		</a>
		<ul
			role="list"
			class="flex flex-col md:flex-row gap-xsm md:gap-sm items-end md:items-center ml-auto md:ml-0"
		>
			{
				nav.header.map((item) => (
					<li>
						<Button
							attributes={{
								...formatLink(item, currentPath),
								"data-website": "navLink",
							}}
							href={item.url}
							variant="nav-alt-gray-900"
						>
							{item.name}
						</Button>
					</li>
				))
			}
		</ul>
		<Progress class="md:relative md:top-[-0.1rem] -order-1 md:order-3" />
	</nav>
</header>
