---
// Content
import nav from "@content/nav"
// Tools
import { formatLink } from "@utils/helpers"
// Components
import Button from "@components/atoms/button.astro"
import Text from "@components/atoms/text.astro"

const currentPath = Astro.url.pathname
---

<header
	class="absolute top-0 left-[50%] w-full translate-x-[-50%] py-md px-sm md:px-lg max-w-[140rem] mx-auto flex items-start"
>
	<Text variant="bmd" class="w-[50%] max-w-[20rem]"
		>Bonjour,<br />...<br />Attends, j'ai comme un air de déjà vu.</Text
	>
	<nav
		class="ml-auto flex flex-col md:flex-row items-end gap-xsm md:gap-sm text-right"
		aria-labelledby="header-nav-label"
	>
		<span id="header-nav-label" class="sr-only">Naviagtion principale</span>
		<a
			href="/"
			class="flex flex-row font-serif text-btn uppercase tracking-md font-700 gap-0 rounded-sm hover:text-green-700 relative top-[-0.1rem] focus:outline-2 focus:outline-gray-900 focus:outline-offset-1"
		>
			R<span class="sr-only">omain</span> B<span class="sr-only">reton</span>
		</a>
		<ul
			role="list"
			class="flex flex-col md:flex-row gap-xsm md:gap-sm items-end md:items-center"
		>
			{
				nav.header.map((item) => (
					<li>
						<Button
							attributes={formatLink(item, currentPath)}
							href={item.url}
							variant="nav-alt-gray-900"
							class={currentPath === item.url ? " -active" : ""}
						>
							{item.name}
						</Button>
					</li>
				))
			}
		</ul>
	</nav>
</header>
