---
import Text from '@components/atoms/text.astro'
import Grid from '@components/organisms/grid.astro'
import Button from '@components/atoms/button.astro'

export interface Props {
  title?: string;
  description?: string;
  suptitle?: string;
}

const {
  title = '',
  description = '',
  suptitle = '',
} = Astro.props
---

<Grid Tag="header" class="pt-[43rem] pb-[2rem] items-end">
  <div class="col-span-full md:col-span-16 mb-md md:mb-0">
    <Text variant="tsm" class="mb-tiny">{suptitle}</Text>
    <Text variant="pmd" class="mb-sm md:mb-0">{description}</Text>
  </div>
  <Button class="col-span-full md:col-span-8 md:justify-self-end" icon="arrow" url="mailto:romain.breton.pro@gmail.com">Discutons ensemble</Button>
  <Text variant="thuge" class="col-span-full md:mt-sm">{title}</Text>
</Grid>