---
// Content
import contact from "@content/contact"
// Components
import Text from "@components/atoms/text.astro"
import Button from "@components/atoms/button.astro"
---

<section class="px-sm md:px-xlg py-xxlg border-t border-current">
	<Text variant="tlg" class="text-center max-w-[40rem] mx-auto mb-lg">
		Envie de bosser ensemble ?
	</Text>
	<div class="flex flex-row items-center gap-x-sm justify-center">
		<Button
			variant="primary-gray-900"
			icon="arrow"
			href={`mailto:${contact.email}`}>Discutons ensemble</Button
		>
		<Text class="bmd">ou</Text>
		<Button variant="secondary-gray-900" icon="arrow" href="/a-propos">
			en savoir plus sur moi
		</Button>
	</div>
</section>
