---
import DefaultLayout from "@layouts/default.astro"
import HeroSimple from "@components/organisms/hero-simple.astro"
---

<DefaultLayout>
	<main id="main">
		<HeroSimple title="A propos de moi" />
	</main>
</DefaultLayout>
