---
import DefaultLayout from "@layouts/default.astro"
import HeroArticle from "@components/organisms/hero-article.astro"
import Grid from "@components/organisms/grid.astro"

export interface Props {
	frontmatter: {
		title: string
		date: Date
		tags: Array<string>
	}
}

const { title, date, tags } = Astro.props.frontmatter || Astro.props
const dateInstance = new Date(date)
---

<DefaultLayout>
	<Grid class="py-giant">
		<main
			id="main"
			class="col-span-full md:col-end-16 lg:col-start-3 lg:col-end-15"
		>
			<HeroArticle title={title} date={dateInstance} tags={tags} />
			<slot />
		</main>
		<aside class="col-span-full md:col-start-17 md:col-end-25 lg:col-end-23">
		</aside>
	</Grid>
</DefaultLayout>
